# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.env.*
!.env.example

# Node / Next.js
node_modules/
.next/
out/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug & Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# DB
*.db
*.sqlite3
